<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode 
      watchedFiles="false" 
      nodeProcessCountPerApplication="1"
      loggingEnabled="true"
      devErrorsEnabled="true"
    />

    <rewrite>
      <rules>
        <rule name="Prevent HTTP Access" stopProcessing="true">
          <match url=".*" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied"/>
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
